header{
    width: 100%;
    height: 8.5vh;
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 98;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

}
footer{
    width: 100%;
    height: 7.5svh;
    overflow: hidden;
    margin: 2% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    bottom: 0;
    position: sticky;
    z-index: 97;
}
footer button{
    background: none;
    font-style: none;
    line-height: 1.5em;
    padding: 0.5% 0 0 0;
    margin: none;
    color: rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 3vw;
    letter-spacing: 0.3cap;
    width: 33.33%;
    height: 7.5vh;
    border: none;
}
footer button i{
    font-size: 7vw;
    color: #454545;
    -webkit-tap-highlight-color: none;
}
footer button:hover{
    background: #fff1cf;
    color: #000000;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    width: 95%;
    height: 6vh;
    border: 3px solid #000000;
    border-radius: 3vw;
    overflow: hidden;
}

.search-input {
    width: 75vw;
    height: 6vh;
    padding: 0 0 0 2vw;
    font-size: 4vw;
    border: none;
}
.search-input input:hover{
    border: none;
}
.search-input:hover{
    border: none;
}
.search-button {
    width: 25vw;
    height: 6vh;
    background-color: #f0c14b;
    color: #111;
    font-size: 4vw;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
}
.dynamic-products{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #000000;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    position: relative;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    align-self: center;
}
.product{
    width: 49.96%;
    height: auto;
    margin: 0 0 0.5% 0;
    display: inline-flexbox;
    position: relative;
    color: black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.product img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2% 0 2% 0;
    aspect-ratio: 1/1;
    object-fit: contain;
    -o-object-fit: contain;
    object-position: center;
}
.product .product-description {
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    font-size: 12px;
    text-align: start;
    margin: 0;
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    -webkit-line-clamp: 3; /* Limit the text to 3 lines */
    overflow: hidden; /* Hide the overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) at the end of the truncated text */
    line-clamp: 3; /* Standard property for line clamping */
    text-transform: capitalize;
}
.product .product-price {
    width: 100%;
    height: auto;
    margin: 1.5% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.product .product-price a:first-child{
    display: flex;
    gap: 0;
    margin: 0;
    flex-direction: column;
}
.product .product-price span:first-child{
    font-size: 17px;
    font-weight: bold;
    color: #039262;
}
.product .product-price span:last-child{
    font-size: 8px;
    color: #666666;
    text-decoration: line-through;
}
.product .product-price a:last-child{
    color: maroon;
}
.image-swiper{
    width: 100%;
    height: 45vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2%;
    padding: 1%;
    white-space: nowrap;
    background: #f8f8f8;
    margin: 1% 0 1% 0;
}
.swiper-image{
    width: 100%;
    height: 42vh;
    aspect-ratio: 16/9;
    border-radius: 3vw;
}