
/* Product Description */
.product-description{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* Product Price */
.product-price{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.product-price div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 1.5%;
}
.product-price .sale-price{
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: 22px;
    font-weight: 550;
    color: rgb(53, 53, 53);
}

.product-price .sale-price span{
    font-size: 7px;
    font-weight: 400;
    color: #787878;
}
.product-price .mrp{
    font-size: 13px;
    color: gray;
    letter-spacing: 0.2vw;
    font-weight: bold;
}
.product-price .mrp span{
    
    text-decoration-line: line-through;
}
.product-price div:first-child a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    font-weight: bold;
}
.product-price div:first-child a span{
    color: rgb(0, 124, 124);
}
.product-price div:last-child{
    padding: 1.5%;
    font-size: 18px;
    color: rgb(163, 0, 0);
    font-weight: bolder;
    letter-spacing: 0.3vw;
}

 /* ---------------------------- product details table --------------------------------- */

 table{
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin: 1% 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    word-spacing: 0.7vw;
    text-transform: capitalize;
    color: #000;
    background: #ffffff;
}
table td{
    padding:1%;
    border-collapse: separate;
}
table tr{
    padding: 2% 0 2% 0;
    border-top: 0.1px solid rgba(128, 128, 128, 0.527);
    border-collapse: collapse;
}
table td:nth-last-child(even){
    background: #f5f5f5;
}
table td:nth-last-child(odd){
    padding-left: 2.5%;
}

/* Loading Image Style */
.loading-image{
    width: 100%;
    height: 90vh;
    -o-object-position: center;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    object-position: center;
}
