body{
    top: 0% !important;
    margin:auto;
    overflow-x:hidden;
    background:var(--app-background);
    background-attachment: fixed;
    background-size: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
body::-webkit-scrollbar{
    display: none;
    scrollbar-color:transparent;
    scrollbar-width: none;
    visibility: hidden;
}
*::-webkit-scrollbar{
    display: none;
    scrollbar-color:transparent;
    scrollbar-width: none;
    visibility: none;
}
.swipes::-webkit-scrollbar{
    display: none;
    scrollbar-color: transparent;
}
html{
    -ms-overflow-style:none;
    scrollbar-width:0;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display:none;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    scrollbar-width: none;
    visibility: hidden;
}
/* -----------------------Disabeling Screen Shots---------- */
@media print{
 
    body{

        /* Hide the whole page */
        visibility: visible;
    }
}

:root{
    --theme-color:#010a25;
    --app-background:#eff1fe;
}
.view{
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
width:auto;
height:auto;
padding: 0 0 4% 0;
position: relative;
margin: 0 0 3.5% 0;
background: #ffffff;
z-index:1;
}
.container b{
    display: flex;
    position: relative;
    padding: 0 2.5% 0 1%;
    font-family: goldman,potti-sreeramulu;
    font-weight: 550;
    align-items: center;
    justify-content: space-between;
    font-size: 4.5vw;
    text-align: start;
}
.container a{
    background: #fff;
}
.container a p{
    margin: 0;
}
.items img{
width: 100%;
height: auto;
}
.items a p{
    display: -webkit-box;
    overflow: hidden;
    margin-top: auto;
    font-family: roboto,lohithi;
    text-transform: capitalize;
    font-size: 3.7vw;
    line-height: 1.5em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#viewall{
    text-align: center;
    background-color: rgb(0, 123, 255);
    padding: 8%;
    width: 10vw;
    display: inline-block;
    position: relative;
    font-family: roboto;
    font-weight: 500;
    border-radius: 2vw;
    color: #ffffff;
}
.items{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2% 1%;
    position: relative;
    align-content: center;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;
}
.container .mrp{
    color: gray;
    font-size: 3vw;
}
.mrp span:last-child{
    color: darkcyan;
    font-style: oblique;
}
.mrp span:first-child{
    background-color: green;
    color: #fff;
    padding: 3%;
    text-transform: uppercase;
    font-weight: 500;
}
.fadeswipecontainer{
    background: #ffffff;
    padding: 2%;
    margin-top: 2%;
}
span{
    z-index: 1;
}
.see-all {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
float: right;
margin-top: -10.5vw;
margin-right: 6%;
position: relative;
font-weight: lighter;
font-size: 4vw;
}
.desp{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 4%;
font-weight: lighter;
font-size: 4.5vw;
}
.swipes{
width: 100%;
height: auto;
display: flex;
white-space: nowrap;
overflow-x: scroll;
overflow-y: hidden;
padding:0% 0% 2.5% 1.5%;
background: linear-gradient(to bottom, #ffffff00 5%, var(--app-background) 48%);
margin-top: -25%;
position: relative;
z-index: 8;
}
.swipes img{
width: 33%;
height: auto;
padding: 1.2vw;
border-radius: 3vw;
background: transparent;
}
.swipes img:last-child{
    margin-right: 3%;
}
.swipes img:first-child{
    padding-left: 0%;
}
a, a:hover, a:focus, a:active{
text-decoration: none;
color: inherit;
-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
.landscape{
width:100%;
height: 100vh;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.landscape img{
width: 55%;
height: auto;
position: relative;
}

#port::-webkit-scrollbar{
    display: none;
    scrollbar-color:transparent;
    scrollbar-width: none;
    visibility: hidden;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:landscape) {
#land { visibility: visible; }
#port { display:none; }
body{background-color: rgb(255, 255, 255); overflow: hidden;}
}

/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:portrait) {
#land { visibility: hidden; display: none; }
#port { display:block; }
}


/*-------------------SWIPER STYLE---------------*/
.swiper {
width: 100%;
height: auto;
margin-top: 1%;
z-index: 1;
position:relative;
background: #eaeded;
}
.swiper-slide {
width:100%;
height:auto;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: auto;
}

/* --------------------------- google translator style important ---------------------- */

.goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img {
display: none !important;
width:0%;
height:0%;
visibility:hidden;
pointer-events: none;
}
.goog-tooltip{
display: none !important;
}
.goog-tooltip:hover {
display: none !important;
}
.goog-text-highlight {
background-color: transparent !important;
border: none !important;
box-shadow: none !important;
}
div#goog-gt-tt{
    display: none !important;
    z-index: -10 !important;
}
.VIpgJd-suEOdc skiptranslate{
    /* display: none !important;
    visibility:hidden !important; */
    z-index: -10 !important;
}
.goog-te-gadget-simple{
    border: none !important;
    outline: none !important;
}
.goog-te-gadget-simple span{
    border: none !important;
    outline: none !important;
}

/* -------------------------------- fonts ----------------------- */

@font-face{
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "monoto";
    src: url(fonts/Monoton/Monoton-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "roblox";
    src: url(fonts/roblox/Roblox\ Font\ Regular.ttf) format('truetype');

}
@font-face{
    font-family: "goldman";
    src: url(fonts/Goldman/Goldman-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "faster";
    src: url(fonts/Faster_One/FasterOne-Regular.ttf) format('truetype');

}
@font-face{
    font-family: "chathura";
    src: url(fonts/telugu/chathura-bold/Chathura.ttf) format('truetype');
}
@font-face{
    font-family: "lohiti";
    src: url(fonts/telugu/lohit-telugu-regular/Lohit.ttf) format('truetype');

}
@font-face{
    font-family: "nandakam";
    src: url(fonts/telugu/nandakam-regular/Nandakam.otf) format('opentype');

}
@font-face{
    font-family: "potti-sreeramulu";
    src: url(fonts/telugu/potti-sreeramulu-regular/Potti-Sreeramulu.otf) format('opentype');
    font-size: 7vw;

}
