/* page loader */

.loader-container{
    width: 100%;
    height: 100vh;
    background: var(--theme-color);
    z-index: 99;
    position: fixed;
    top: 0% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader{
    width: 15vw;
    height: 15vw;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s ease-in-out infinite;
}

@keyframes loader{
    25%{
        color:#9e3601;
    }
    50%{
        color:#c8a20a;
    }
    75%{
        color:#d831ab;
    }
    to{
        transform: rotate(360deg);
    }
}